# Global Config: Combo
# All parameters scaled

[simulation]
ticks = 1000
nodes = 2000
init_edges = 6000
seed = 42

[parameters]
spawn_scale = 1.2
decay_scale = 0.7
tension_scale = 1.2

[output]
log_interval = 50
dump_graph_every = 0
